body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  main {
    font-size: 18px;
    line-height: 1.8;
  }
  
  h1 {
    font-size: 32px;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  button {
    border: none;
    outline: none;
    background: #ededed;
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 5px;
    color: #666;
    cursor: pointer;
    border: 1px solid transparent;
    margin-bottom: 16px;
    margin-top: 8px;
  }
  
  button:hover {
    color: #000;
  }
  
  button ~ button {
    margin-left: 8px;
  }
  
  button.primary {
    background: #000;
    color: #ededed;
  }
  
  button.primary:hover {
    color: #fff;
  }
  
  button.bordered {
    background: none;
    border: 1px solid #eaeaea;
  }
  
  input,
  textarea {
    margin-bottom: 16px;
    margin-right: 16px;
  }
  
  pre {
    font-size: 16px;
    padding: 8px;
  }
  
  label {
    margin-right: 16px;
  }
  
  input[type='submit'] {
    border: none;
    outline: none;
    background: #ededed;
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 5px;
    color: #666;
    cursor: pointer;
    border: 1px solid transparent;
  }
  
  input[type='submit']:active {
    color: #000;
  }
  
  input[type='text'],
  input[type='password'],
  textarea {
    min-width: 360px;
  }
  
  input[type='text'],
  input[type='password'],
  textarea,
  select {
    border: 1px solid #eaeaea;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input[type='checkbox'] {
    transform: scale(1.3);
  }
  
  /* App */
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Header */
  .app > header {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 24px;
  }
  
  .app > header > div:nth-child(1) {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-right: 56px;
  }
  
  .app > header > div:nth-child(1) > span {
    font-size: 32px;
    padding-right: 8px;
  }
  
  .app > header > nav {
    display: flex;
    flex-grow: 1;
    color: #666;
  }
  
  .app > header > nav > div {
    margin: 0 16px;
  }
  
  .app > header > nav ~ div {
    display: flex;
  }
  
  .app > header > nav ~ div > div {
    margin-left: 8px;
  }
  
  /* Main */
  .app > main {
    flex-grow: 1;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
  }
  
  .post-list > div {
    display: flex;
    margin-bottom: 24px;
  }
  
  .post-list > div > div {
    margin-right: 16px;
  }
  
  .post-list > div > div > img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .post-list > div > div > div:nth-child(1) {
    font-weight: bold;
  }
  
  .post-list > div > div > div:nth-child(3) {
    font-size: 14px;
  }
  
  .post-list > div > div > div:last-child {
    display: flex;
    margin-top: 8px;
  }
  
  .post-list > div > div > div:last-child img {
    width: 20px;
  }
  
  .post-list > div > div > div:last-child > div {
    margin-right: 8px;
  }
  
  .router-link-active {
    font-weight: bold;
    color: black;
  }